@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "VetGo - Panel Principal";
}

<link rel="stylesheet" href="~/vetgo_1/css/home_inicio.css" />


<!-- Top Bar -->
<header class="header topbar">
  <section class="logo-area logo">
    <span class="logo">❤</span>

    <section>
      <p class="welcome">VetGo</p>
      <small class="welcome">Hola</small>
    </section>
  </section>
</header>

<!-- Navigation -->
<nav class="nav">
  <ul>
    <li><a href="/Veterinarios">Veterinarios</a></li>
</nav>   

<!-- Main Content -->
<main class="grid">

  <article class="card">
    <span class="card-icon icon icon-pink">❤</span>
    <h3 class="card-title">
      <a href="/Mascotas">Mis Mascotas</a>
    </h3>
    <p class="card-desc">Administra la información de tus mascotas</p>
  </article>

  <article class="card">
    <span class="card-icon icon icon-blue">📅</span>
    <h3 class="card-title">
      <a href="/Citas">Agendar Cita</a>
    </h3>
    <p class="card-desc">Programa una consulta con nuestros veterinarios profesionales</p>
  </article>

  <article class="card">
    <span class="card-icon icon icon-green">💬</span>
    <h3 class="card-title">
      <a href="/Chat">Chat</a>
    </h3>
    <p class="card-desc">Chatea con un veterinario</p>
  </article>

  <article class="card">
    <span class="card-icon icon icon-orange">📄</span>
    <h3 class="card-title">
      <a href="/Historia_Clinica">Historial Médico</a>
    </h3>
    <p class="card-desc">Revisa el historial médico de tus mascotas</p>
  </article>

  <article class="card">
    <span class="card-icon icon icon-blue">🐾</span>
    <h3 class="card-title">
      <a href="/Veterinario">Nuestros Veterinarios</a>
    </h3>
    <p class="card-desc">Conoce a nuestro equipo de profesionales certificados</p>
  </article>

</main>
